/* .homepage {
    padding: 20px;
  } */
  
  .crypto-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .homep{
    padding-top: 4%;
  }
  
  .crypto-table tr:hover {
    background-color: #ddd;
  }

  .cryptoTable{
    display: flex;
    justify-content: center;
  }

  /*First animation - terminal text animation*/
.intro h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
}


  table{
    width: 80%;
    border-collapse: collapse;
  }
  th{
    text-align: right;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 8px;
    padding-bottom: 7px;
  }
  td{
    padding-bottom: 4px;
    text-align: right;
  }
  
  .intro{
    margin-left: 50px;
  }
  .cryptoTable img{
    width: 24px;
     height: 24px;
      margin-right: 8px;
  }

  .navigation{
    text-align: right;
    font-size: 22px;
    margin-right: 15%;
    margin-top: 1%;
  }

  /* Responsive Styles for Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .nav_links{
    width: 68%;
  }
  .header {
      flex-direction: column;
      width: 100%;
  }

  .header nav ul {
    gap: 3rem;
    padding-bottom: 10px;
  }

  .header input {
    width: 100%;
    font-size: 1rem;
  }

  .floating-card {
    width: 100%;
    top: 100%;
    right: 0;
    left: 0;
    box-shadow: none;
    border: 1px solid #ddd;
  }
  
  #tar1{
      display: none;
  }
  .intro {
    font-size: 11px;
    margin-left: 15px;
}

.cryptoTable img{
  width: 20px;
   height: 20px;
    margin-right: 8px;
}

  table{
    width: 95%;
  }
  #size{
  font-size: 14px;
  }
  .cryptoTable {
    flex-direction: column;
    align-items: center;
  }
  .prev,.next{
    width: 73px;
    padding: 0;
    margin-top: 2px;
  }
  .homep{
    height: 84vh;
    padding-top: 11vh;
  }
  table tr{
    padding-bottom: 5px;
  }
}